doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title Goom 
    body
        header 
            h1 Goom
        main 
            form#nickname
                fieldset 
                    legend Save your nickname 🚀
                    input(type="text")
                    button Send
            ul
            form#message
                fieldset 
                    legend Send Message 🚀
                    input(type="text")
                    button Send

        script(src="/public/js/app.js")